<html>
  <link rel="stylesheet" href="style.css" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
    crossorigin="anonymous"
  />
  <div
    style="
      background-image: url('https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2020/05/twitter-1-1589175890.jpg');
      height: 100vh;
      text-align: center;
    "
  >
    <div
      class="mask"
      style="background-color: rgba(255, 255, 255, 0.6); height: 100vh"
    >
      <div
        style="
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        "
      >
        <h1 class="m-2 fw-bolder text-center p-2" style="font-size: 2.5rem;">
          <!-- <p class="text-center fw-bolder w-100" style="font-size: 50px"> -->
            Welcome to <span class="fst-italic">Tweets-Analyser</span>!
          <!-- </p> -->
        </h1>
        <h2>
          <a
            class="border border-primary p-2 rounded-3 bg-light text-decoration-none fs-5"
            href="/login/twitter"
            >Log in with Twitter</a
          >
        </h2>
      </div>
    </div>
  </div>
</html>
